* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    background-color: #145073;
    justify-content: center;
}
div {
    text-align: center;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 30px;
    margin: 20px;
    align-items: center;
    padding: 60px;
    animation: animate 15s ease infinite;

}
img {
    width: 100px;
    height: 100px;
    transition: 1s;
}
img:hover {
    transform: scale(1.5, 1.5);
}
h1 {
    font-size: 50px;
    color: white;
    padding: 20px 0 5px;
}
h1:hover {
    transform: rotate(360deg);
    transition: width 2s, height 2s, transform 2s;
}
h2 {
    font-size: 130px;
    color: white;
    transition: 1s;
}
h2:hover {
    transform: scale(1.15, 1.15);
}
button {
    width: 250px;
    height: 80px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 70px;
    background-color: #0093E9;
    color: white;
    padding: 5px;
    border: none;
}

p{
    font-size: 18px;
    padding: 20px 0 30px;
    color: #145073;
}

button:hover{
    background-color: white;
    color: #0093E9;
    transition: .5s;
    border: none;
}
@keyframes animate {
    0% {
    background-position: 0 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0 50%;
    }
}
@media(max-width: 700px) {
    img {width: 50px;
    height: 50px;
    padding: 20px 0 0 0;
    }
    img:hover {
        transform: scale(1.25, 1.25);
    }
    p {
        font-size: 16px;
        padding: 20px 0 30px;
    }
    button {
        width: 110px;
        height: 35px;
        font-size: 14px;
    }
    div {
        border-radius: 25px;
        margin: 5px 7px;
        padding: 20px;
    }
    h1 {
        font-size: 31px;
        padding: 10px 0 2.5px;
    }
    h2 {
        font-size: 70px;
    }
    h2:hover {
        font-size: 71px;
    }
}
